.Nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 12vh;
  border-bottom: 2px solid #790c0c;
  box-sizing: border-box;
}

.components a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 25px;
}
.title {
  color: black;
}

.title:hover {
  color: orangered;
  transform: translateX(-25px);
}

@media only screen and (max-width: 600px) {
  .Nav {
    width: 100%;
    margin: auto;
  }
  .components a {
    font-size: 18px;
  }
}
