.home {
  display: grid;
  justify-content: center;
}
.cards {
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  width: fit-content;
  min-height: 30vw;
}
.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 8px;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-right: 1px;
}
select {
  height: 23px;
  font-stretch: normal;
}

.paginate button {
  border-radius: 10px;
  height: 23px;
  background-color: #790c0c;
}
select {
  height: 30px;
  border-radius: 10px;
  text-align: center;
  text-size-adjust: initial;
  background-color: #790c0c;
  color: white;
  background-color: transparent;
  backdrop-filter: blur(8px);
  margin-right: 8px;
}

select > option {
  padding-bottom: 3px;
}
.loader {
  border: 16px solid orangered;
  border-radius: 50%;
  border-top: 16px solid #790c0c;
  border-bottom: 16px solid #790c0c;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media only screen and (max-width: 600px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    width: 80%;
  }
  .home {
    display: grid;
    width: 100%;
  }
  .main {
    display: flex;
    justify-content: flex-end;

    width: 90%;
  }
  .paginate {
    background-color: red;
  }
  .search {
    background-color: red;

  }
  .main > span {
    display: none;
  }
}
