.card {
  position: relative;
  display: grid;
  grid-template: auto;
  box-shadow: 3px 3px #790c0c;
  height: 19rem;
  width: 25rem;
  padding-bottom: 1rem;
  backdrop-filter: blur(8px);
  border-radius: 8px;
  scale: 1;
  transition: scale 1s;
}
.bodyCard {
  padding-left: 1rem;
  align-content: first baseline;
}
.card:hover {
  scale: 1.1;
}
.title {
  color: rgb(247, 131, 89);
  margin: -3rem 0 0 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.5rem;
  color: white;
  border-radius: 40px;
  border: 1px solid blueviolet;
  background-color: #790c0c;
  font-size: 0.9rem;
}
.close:hover {
  background-color: black;
  color: red;
}

.section {
  position: absolute;
  font-size: 16px;
  text-decoration: none;
  bottom: 0rem;
}
.buttonDetail {
  color: aqua;
}
.buttonDetail > span {
  color: rgb(57, 243, 57);
  margin-left: 1rem;
}
.buttonDetail > span:hover {
  color: rgb(218, 226, 233);
  box-shadow: 1px 1px 20px rgb(57, 243, 57);

  border-radius: 30px;
}

.image {
  height: 180px;
}

.image > img {
  display: block;
  width: 100%;
  height: 180px;
  max-height: 200px;
  border-radius: 10px 10px 0 0;
}

@media only screen and (max-width: 600px) {
  .card {
    display: grid;
    width: 90%;
    line-height: normal;
    margin:0;
  }
  .title {
    height: 20px;
  }
}
