
.main{
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30vw;

}

@media only screen and (max-width: 600px) {
  .main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    width: 80%;
  }

 
}
