.Welcome {
  display: grid;
  justify-content: space-evenly;
  background: url("../../assets/bg-welcome.png") no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  text-decoration: none;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}

.lbl {
  display: flex;
  -webkit-text-stroke: 1px black;
  margin-top: 3rem;
  font-size: 45px;
  font-weight: 600;
  color: yellow;
  justify-content: center;
}

.intro {
  display: grid;
  -webkit-text-stroke: 1px black;
  color: yellow;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-weight: 900;
  padding-bottom: 2rem;
}
.text {
  position: relative;
  display: grid;
  font-size: 30px;
  width: 28rem;
  height: 2.5rem;
  border-radius: 90px;
  text-decoration: none;
  background-color: black;
  margin-top: 1rem;
  justify-content: center;
  color: orange;
  font-family: "Times New Roman", Times, serif;
  cursor: grab;
}
.text:hover {
  border: 1px white solid;
  color: aqua;
}

@media only screen and (max-width: 600px) {
  .Welcome {
    height: 100vh;
  }
  .lbl {
    height: fit-content;
    margin-top: 3rem;
  }
  .intro {
    height: fit-content;
    margin-top: 0rem;
    font-size: 17px;
  }
  .text {
    color: orange;
    font-size: 17px;
    width: 15rem;
    align-content: center;
  }
}
